@(temas: List[Tema])(usuario: Usuario)(temaAtual: Tema)

@main("Portal do Leite") {
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Portal do Leite</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@routes.Login.logout()">Sair</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Pesquisar...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar navbar-static-top list-group">
                    <li class="active list-group-item">Temas</li>
                    @for(tema <- temas) {
                        <li class="list-group-item">
                            <a href="@routes.Application.setTemaAtual(tema.getId())">@tema.getNome()</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-sm-9 col-md-10 main">
                <h1 class="page-header">Bem Vindo ao Portal do Leite @usuario.getNomeCompleto()!</h1>
                <h2 class="sub-header">@temaAtual.getNome() </h2>
                <br>
                @if(!temaAtual.getVotos.isEmpty){
                    <p> Dificuldade média: @temaAtual.getMediaDificuldade | Mediana da dificuldade: @temaAtual.getMedianaDificuldade</p>
                }

                @helper.form(routes.Application.vota(), 'id -> "votoForm") {
                    <form role="form">
                        <div class="form-group">
                            <label for="name">Dificuldade:</label>
                            <select id="dificuldade" class="form-control" name = "dificuldade">
                                <option>-2</option>
                                <option>-1</option>
                                <option> 0</option>
                                <option> 1</option>
                                <option> 2</option>
                            </select>
                        </div>
                        <button id="botaoDificuldade" type="submit" class="btn btn-success">OK</button>
                    </form>
                }

                <br>

                @helper.form(routes.Application.addDica()) {
                    <form role="form">
                        <div class="form-group">
                            <label for="name">Tipo da Dica:</label>
                            <select class="form-control" name = "tipo">
                                <option>Conselho</option>
                                <option>Material</option>
                                <option>Assunto</option>
                                <option>Disciplina</option>
                            </select>
                        </div>
                        <input id="texto" type="text" name="texto" placeholder="Texto" class="form-control">
                        <br>
                        <button id="botaoDificuldade" type="submit" class="btn btn-success">OK</button>
                    </form>


                }
                <br>
                <br>
                <h4>Dicas</h4>
                <ul clas="list-group">
                @if(!Application.getDicasdoTema.isEmpty){
                    @for(dica <- Application.getDicasdoTema()){
                        <li class="list-group-item">@dica.toString</li>
                        <h4>Número de pessoas que corcodaram: @dica.getNumeroConcordancias</h4>
                        <h4>Número de pessoas que discodaram: @dica.getNumeroDiscordancias</h4>
                        <h4>Indice de concordância: @dica.getIndiceConcordancias</h4>

                        <form action="@routes.Application.addConcordancia(dica.toString)" method="post">

                            <button type="submit" class="btn btn-xs btn-success" value="Concordo" name = "opcao">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </button>

                            <button type="submit" class="btn btn-xs btn-danger" value="Discordo" name = "opcao">
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                            </button>
                        </form>
                    }
                }else{
                    <li class="list-group-item">Sem dicas</li>
                }

                </ul>

            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("public/stylesheets/dashboard.css")">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="public/javascripts/bootstrap.min.js"></script>
}
